__pycache__/
*.pyc
Coursera - PyTorch Fundamentals 2025-11/04_core-neural-network-components/Labs/Lab1/data/cifar_100/
Coursera - PyTorch Fundamentals 2025-11/04_core-neural-network-components/Labs/Lab1/data/cifar-100-python.tar.gz
Coursera - PyTorch Fundamentals 2025-11/04_core-neural-network-components/Labs/Lab1/data/cifar-100-python/file.txt~
Coursera - PyTorch Fundamentals 2025-11/04_core-neural-network-components/Labs/Lab1/data/cifar-100-python/meta
Coursera - PyTorch Fundamentals 2025-11/04_core-neural-network-components/Labs/Lab1/data/cifar-100-python/test
Coursera - PyTorch Fundamentals 2025-11/04_core-neural-network-components/Labs/Lab1/data/cifar-100-python/train
